
.switchNodeAlert-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    background-color: rgba(55,55,55,.6);;
}

.switchNodeAlert-card {
    box-sizing: border-box;
    border-radius: 6px;
    width: 50%;;
    background-color: white;
    padding: 30px;
}

.switchNodeAlert-headTitle {
    font-size: 18px;
    margin-bottom: 15px;
    color: black;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
}

.switchNodeAlert-input-container {
    margin-top: 10px;
    width: 100%;
}
.switchNodeAlert-Input {
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    border: 1px solid lightgrey;
    outline-color: #579fff;
}
.switchNodeAlert-btnItem {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
}

.switchNodeAlert-btn {
    border-radius: 4px;
    border-style: none;
    outline-style: none;
    height: 30px;
}

.switchNodeAlert-btn:active {
    opacity: 0.8;
}

.switchNodeAlert-confirmBtn {
    background-color: #80bdff;
}

.switchNodeAlert-cancelBtn {
    background-color: #d9534f;
}


@media (max-width: 640px) {
    .switchNodeAlert-card{
        width: 100%;
        margin: 0 30px;
    }
}

/* fade animation */
@-webkit-keyframes switchNodeAlert-fade-enter {
    from {
        opacity: 0;
    }
}

@keyframes switchNodeAlert-fade-enter {
    from {
        opacity: 0;
    }
}

.switchNodeAlert-fade-enter {
    -webkit-animation: switchNodeAlert-fade-enter both ease-in;
    animation: switchNodeAlert-fade-enter both ease-in;
}

@-webkit-keyframes switchNodeAlert-fade-leave {
    to {
        opacity: 0
    }
}

@keyframes switchNodeAlert-fade-leave {
    to {
        opacity: 0
    }
}

.switchNodeAlert-fade-leave {
    -webkit-animation: switchNodeAlert-fade-leave both ease-out;
    animation: switchNodeAlert-fade-leave both ease-out;
}
